.form_ {
  background: linear-gradient(rgba(217, 162, 94, 0.7), rgba(152, 25, 97, 0.7)),
    url("https://cloudfront-us-east-2.images.arcpublishing.com/reuters/5F2VOYRT6ZJ5HGNFOMO2LNOUTM.jpg")
      no-repeat center center/cover;
  height: 75vh;
  width: 100vw;
}
.border_,
.bo_ {
  position: absolute;
  top: 46%;
  right: 50%;
  margin: 0 auto;
  padding: 2em;
  height: 400px;
  width: 350px;
  text-align: center;
  background: rgb(68, 66, 66);
  border-radius: 10px;
  translate: +50% -50%;
}
.form_ {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  color: #f4f4f4;
}
.form_ div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
@property --angle {
    syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.bo_::after,
.bo_::before {
  /* --angle: 0deg;not workable */
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: red; */
  /* background-image: conic-gradient(
    from var(--angle),
    rgb(236, 24, 24),
    aqua,
    lightgreen,
    yellow,
    pink,
    rgb(236, 24, 24)
  ); */
  background-image: conic-gradient(from var(--angle),transparent 40%,blue);
  top: 50%;
  left: 50%;
  z-index: -1;
  translate: -50% -50%;
  padding: 5px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.bo_::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
}
  to {
    --angle: 360deg;
  }
}
.border_ {
    background: linear-gradient(rgba(2, 167, 172, 0.7), rgba(152, 25, 97, 0.7)),
    url("https://media.gettyimages.com/id/976810816/photo/vertical-axis-wind-turbines-on-the-rooftop-of-the-anz-bank-in-melbourne-australia.jpg?s=612x612&w=0&k=20&c=-pZszgU0c2_vkpPF-30paX2UMR1s00wn-ZTKByQK6bI=")
    no-repeat center center/cover;
    translate: +50% -50%;
}
.log_in, .log_in {
    /* font-size: 2.5em; */
    margin-bottom: 30px;
    position: relative;
}

.log_in:after, .log_in:after {
    content: "";
    width: 80px;
    height: 4px;
    background-color: #A8193D;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}
.log_in {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 7vh;
  /* margin-bottom: 10vh; */
}